{% extends 'silant_app/base.html' %}
{% load static %}
{% block content %}
<div class="nav_table">
    <a class="btn" href="{% url 'table_car' %}">Общая информация</a>
    <a class="btn" href="{% url 'table_service' %}">ТО</a>
    <a class="btn" href="{% url 'table_claims' %}">Рекламации</a>
</div>
<table>
    <tr>
        <td>Зав. № машины</td>
        <td>Вид ТО</td>
        <td>Дата проведения ТО</td>
        <td>Наработка, м/час</td>
        <td>№ заказ-наряда</td>
        <td>Дата заказ-наряда</td>
        <td>Организация, проводившая ТО</td>
    </tr>
    {% for p in posts %}
    {% autoescape on %}
    <tr>
        <td>{{p.car}}</td>
        <td>{{p.type_service}}</td>
        <td><a href="{{ p.get_absolute_url }}">{{p.date_service}}</a></td>
        <td>{{p.operating_time}}</td>
        <td>{{p.work_order_number}}</td>
        <td>{{p.work_order_date}}</td>
        <td>{{p.service_company}}</td>
    </tr>
    {% endautoescape %}
    {% endfor %}
</table>
{% endblock %}