/*ШРИФТ*/
@font-face {
	font-family: "PT Astra Sans";
	src: url("../fonts/pt-astra-sans/pt-astra-sans.eot"); /* IE9 Compat Modes */
	src: url("../fonts/pt-astra-sans/pt-astra-sans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/pt-astra-sans/pt-astra-sans.otf") format("opentype"), /* Open Type Font */
		url("../fonts/pt-astra-sans/pt-astra-sans.svg") format("svg"), /* Legacy iOS */
		url("../fonts/pt-astra-sans/pt-astra-sans.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/pt-astra-sans/pt-astra-sans.woff") format("woff"), /* Modern Browsers */
		url("../fonts/pt-astra-sans/pt-astra-sans.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

html, body {
	font-family: "PT Astra Sans";
	font-size: 10px;
	background-color: #D20A11;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #000000;
}

/*HEADER*/

.header {
	width: 100%;
	overflow: hidden;
	background-color: #163E6C;
	padding: 20px 10px;
}

.logo {
	width: 180px;
	float:left;
	color: #ffff02;
	text-align: left;
	font-size: 40px;
	font-weight: bold;
}  

.header a {
	float: left;
	background-color: #ffff02;
	color: #163E6C;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}
  
.header a:hover {
	background-color: #EBE6D6;
	color: #163E6C;
}
  
.header-right {
	float: right;
}
  
@media screen and (max-width: 500px) {
.header a {
	float: none;
	display: block;
	text-align: left;
}

}

.header-title {
	text-align: center;
	width: 100%;
	height: 50px;
	background-color: #D20A11;
	color: #ffff02;
	padding: 10px;
}

/*SEARCH BAR*/

.search-bar {
	width: 100%;
	height: 20px;
	background-color: #163E6C;
	padding: 10px;
}

/*NAVBAR TABLE*/
.nav_table {
	overflow: hidden;
	background-color: #D20A11;
	padding: 20px 10px;
	text-align: center;
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #163E6C;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
}
.btn:hover {
	background-color: #002fed;
}
.btn:active {
	background-color: #2f599e !important;
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
	background-color: #6c87b5;
	pointer-events: none;
}

/*TABLE*/

table {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #000000;
	border-collapse: collapse; 
}

table td {
	background: #EBE6D6;
	border: 3px solid #000000;
	padding: 5px;
}

/*FORMS*/
form {
	text-align: center;
	color: #ffff02;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

/*FOOTER*/

.footer {
	width: 100%;
	height: 60px;
	background-color: #163E6C;
	color: #ffff02;
}

.footer-text-1 {
	text-align: left;
	float: left;
	padding: 8px;
}
.footer-text-2 {
	text-align: right;
	float: right;
	padding: 8px;
}